before_install:
 - chmod +x gradlew

notifications:
  email: false

language: android
android:
  components:
    # The BuildTools version used by your project
    - build-tools-21.1.2

    # The SDK version used to compile your project
    - android-21

# whitelist
branches:
  only:
    - master

# Turn off caching to avoid any caching problems
cache: false
# Use the Travis Container-Based Infrastructure (see #67)
sudo: false
