before_install:
 - chmod +x gradlew
 
before_script:
	 - echo $JAVA_OPTS
	 - export JAVA_OPTS=-Xmx1024m

notifications:
  email: false

language: android
android:
  components:
    # The BuildTools version used by your project
    - build-tools-21.1.2

    # The SDK version used to compile your project
    - android-21

# whitelist
#branches:
#  only:
#    - master
    
env:
  global:
    - MALLOC_ARENA_MAX=2
