<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--Local database-->
        <property name="hibernate.archive.autodetection">class,hbm</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">1</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:mem:rtdc</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>

        <!--Heroku database-->
        <!--<property name="hibernate.archive.autodetection">class,hbm</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">voqrsmipqbvyij</property>
        <property name="hibernate.connection.password">MnB51Cn-ZbZKuxeqieO-qa2sWu</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-83-51-38.compute-1.amazonaws.com:5432/d4u0aff7k6f6je?sslmode=require</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>-->
    </session-factory>
</hibernate-configuration>