<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rtdc.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- To access our server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Prevents other applications from receiving the GCM message for RTDC -->
    <permission android:name="rtdc.android.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="rtdc.android.permission.C2D_MESSAGE"/>


    <application
        android:name=".Rtdc"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/RTDCActionBarTheme" >
        <activity
                android:name=".AndroidBootstrapper"
                android:windowSoftInputMode="adjustResize|stateHidden"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".presenter.MainActivity"
                android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".AdminActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".presenter.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".presenter.CreateUserActivity"
            android:parentActivityName=".AdminActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminActivity" />
        </activity>
        <activity
            android:name=".presenter.CreateUnitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".AdminActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminActivity" />
        </activity>
        <activity
            android:name=".presenter.CapacityOverviewFragment"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
                android:name=".presenter.AbstractActivity"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
                android:name=".presenter.EditCapacityActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:parentActivityName=".presenter.CapacityOverviewFragment">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presenter.CapacityOverviewFragment"/>
        </activity>
        <activity
                android:name=".presenter.CreateActionActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:parentActivityName=".presenter.ActionPlanActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presenter.ActionPlanActivity" />
        </activity>
        <activity
            android:name=".presenter.ActionPlanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <receiver android:name=".GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.antoinecampbell.gcmdemo"/>
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService"></service>
    </application>

</manifest>
