<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rtdc.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- To access our server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Rtdc"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".AdminActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".presenter.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.CreateUserActivity"
            android:label="@string/title_activity_create_user"
            android:parentActivityName=".AdminActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminActivity" />
        </activity>
        <activity
            android:name=".presenter.CreateUnitActivity"
            android:label="@string/title_activity_create_unit"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".AdminActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminActivity" />
        </activity>
        <activity
            android:name=".presenter.CapacityOverviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_capacity_overview" >
        </activity>
        <activity
                android:name=".presenter.CreateActionActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_create_action" >
        </activity>
        <activity
            android:name=".presenter.ActionPlanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_action_plan" >
        </activity>
    </application>

</manifest>
